<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <default-wrapper xsi:type="AsyncWrapper"/>  
    <target xsi:type="Mail" name="mail" subject="UtilsEditUsers ${uppercase:${level}} ${environment:USERNAME}" 
            to="khisyametdinovvt@pik.ru" from="UtilsEditUsers@pik.ru" smtpServer="smtp.picompany.ru" smtpPort="25" 
            layout="${longdate} ${uppercase:${level}} ${message}. ${exception:format=ToString}"/>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Error" writeTo="mail" />
  </rules>
</nlog>