<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AcadLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AcadLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AcadLib.Properties.Settings.SAPRConnectionString"
      connectionString="Data Source=VPP-SQL04;Initial Catalog=CAD_REVIT_STATISTICS;User ID=CAD_AllUsers;Password=qwerty!2345"
      providerName="System.Data.SqlClient" />
    <add name="AcadLib.Properties.Settings.SR_IRA_AR_DECORConnectionString"
      connectionString="Data Source=VPP-SQLTEST02;Initial Catalog=SR_IRA_AR_DECOR;Persist Security Info=True;User ID=sa;Password=VPP-SQLTEST02"
      providerName="System.Data.SqlClient" />
    <add name="CAD_AutoCADEntities" connectionString="metadata=res://*/Model.User.DB.Users.csdl|res://*/Model.User.DB.Users.ssdl|res://*/Model.User.DB.Users.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vpp-sql04;initial catalog=CAD_AutoCAD;persist security info=True;user id=CAD_AllUsers;password=qwerty!2345;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StatEventsEntities" connectionString="metadata=res://*/Model.Utils.Tabs.History.Db.DbEvents.csdl|res://*/Model.Utils.Tabs.History.Db.DbEvents.ssdl|res://*/Model.Utils.Tabs.History.Db.DbEvents.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vpp-sql04;initial catalog=StatEvents;persist security info=True;user id=CAD_AllUsers;password=qwerty!2345;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="StatEventsCon" connectionString="metadata=res://*/Model.Utils.Tabs.History.Db.DbEvents.csdl|res://*/Model.Utils.Tabs.History.Db.DbEvents.ssdl|res://*/Model.Utils.Tabs.History.Db.DbEvents.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vpp-sql04;initial catalog=StatEvents;persist security info=True;user id=cad_allusers;password=qwerty!2345;asynchronous processing=True;trustservercertificate=False;applicationintent=ReadOnly;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <AcadLib.Properties.Settings>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PaletteStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PaletteImageSize" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PaletteFontSize" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="PalettePropsNameWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="UserSettingsPropsWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="RestoreTabsColRestoreWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="RestoreTabsColNameWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="RestoreTabsColDateWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="RestoreTabsColSizeWidth" serializeAs="String">
        <value>100</value>
      </setting>
    </AcadLib.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <AcadLib.Properties.Settings>
      <setting name="EFAutocadUsersConStr" serializeAs="String">
        <value>metadata=res://*/Model.User.DB.Users.csdl|res://*/Model.User.DB.Users.ssdl|res://*/Model.User.DB.Users.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=vpp-sql04;initial catalog=CAD_AutoCAD;persist security info=True;user id=CAD_AllUsers;password=qwerty!2345;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" providerName="System.Data.EntityClient</value>
      </setting>
    </AcadLib.Properties.Settings>
  </applicationSettings>
</configuration>